/** ADD YOUR AWESOME CODES HERE **/
body{
    padding: 10px;
}

hr{
    width: 100vw;
}

p{
    line-height: 0.5;
    margin-top: 8px;
    color: black;
    font-size: 20px;
}

h1{
    color: white;
    font-size: xx-large;
}

.about-right h2{
	font-size: 30px;
	font-weight: 600;
    color: white;
}
.about-right p{
	font-size: 20px; 
	font-weight: 300;
    line-height: 1.5;
    color: white;
}

.about-Career h2{
    font-size: 30px;
	font-weight: 600;
    background-color: rgb(75, 72, 72);
    color: antiquewhite;
}

.about-Career p{
    font-size: 20px; 
	font-weight: 400;
    line-height: 1.5;
    color: black;
}

.about-body{
    background-color: #111111;
}

.h1-about{
    font-size: 40px;
    font-weight: bolder;
}

.h2-portfolio{
    font-size: 40px;
}

.social-icons{
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.title{
    margin-top: 8px;
    font-size: 30px;
    color: bisque;
}

.port{
    background-color: #0c0b0b;
    background-image: url(../images/laptopWP.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .portfolioWU{
    margin: 10px;

}
.github{
    width: 45px;
    padding: 0;
    margin: 0;
}

.github:hover{
    width: 50px;
    background-color: darkgrey;
}

.about-project h2{
    padding: 10px;
    font-size: 30px;
	font-weight: 600;
    background-color: rgb(75, 72, 72);
    color: antiquewhite;
}

.about-project p{
    font-size: 20px; 
	font-weight: 400;
    line-height: 1.5;
    color: black;
}

.about-project a{
    font-size: 18px;
    color: black;
}

.about-project a:hover{
    font-size: 20px;
    color: blue;
}


.about-project ul{
    list-style:circle;
    margin-left: 30px;
}

.ProjectsPics img{
    width: 600px;
    height: 400px;
    padding: 30px 50px;
}

.Project1, .Project2, .Project3, .Project4, .Project5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 3px double rgb(75, 69, 69);
}

.whatsapp{
    display: block;
    margin-top: 10px;
    font-size: 20px ;
}

.whatsapp img{
    width: 35px;
}

.whatsapp a{
    padding: 20px;
}

.bottom a{
    padding: 20px;
    font-size: 20px;
}

.bottom button{
    margin: 0 auto;
    padding: 38px;
}


@media(min-width: 765px){
    .ProjectsPics img{
        width: 1200px;
        height: 500px;
        padding: 10px 70px;
    }
}

@media(max-width: 765px){
    p{
      line-height: 1.5;  
    }

    .ProjectsPics img{
        width: auto;
        height: 150px;
        padding: 10px ;
    }

    body{
        width: auto;
        padding: 10px;
    }

    .port{
       background-position-x: 360px;
       height: 30vh;
    }
    .about-Career h2{
        font-size: 26px;
    }

    .about-project h2{
        font-size: 25px;
        margin-right: 5px;
    }
}

@media(max-width: 500px){
    .port{
        background-position-x: 180px;
        height: 20vh;
     }

     h1{
        font-size: 20px;
     }
}

